p {
  font-size: 100%;
}

.body {
  margin-top: -1px;
  padding: 10px 10px;
  border: 10px solid lightblue;
  height: 90%;
  background-color: lightblue;
  font-family: Arial, serif;
}

.nav_div {
  overflow: hidden;
  background-color: lightblue;
  border-color: black;
}

.nav.collapse {
  display: block!important;
}

.nav_div a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  margin-right: 5px;
  text-decoration: none;

  border-color: lightblue;
  border-top: solid thin;
  border-left: solid thin;
  border-right: solid thin;
}

.nav_div li {
  list-style: none
}

.nav_div a:hover {
  background-color: white;
}

.nav_div a.active {
  background-color: dodgerblue;
}

a:visited {
  color: black;
}

#accessWidgetBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 100%;
}

.accessWidgetButtons {
  padding-top: 10%;
  text-align: center;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 80%;
  overflow: auto;
  background-color: white;
  font-size: 70%;
}

.modal-content {
  margin: auto;
  border: 1px solid #888;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 200%;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.gameBox {
  overflow: hidden;
  background-color: lightblue;
  border-color: black;
}

.gameBox section {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

#questionNo {
  display: inline;
}

.gameBox p, button {
  display: inline-block;
  text-align: center;
  padding-left: 1000%;
  padding: 2%;
  font-size: 150%;
  border: thin solid black;
  border-radius: 500px;
  background-color: lightblue;
  text-decoration: none;
}

.gameBox button {
  cursor: pointer;
}

.answerBox {
  margin: auto;
  width: 15%;
}

.gameBox button:hover {
  background-color: white;
}

.Login {
  position: fixed;
  top: 0;
  right: 0;
}